#LOG_LEVEL=INFO
LOG_PLAINTEXT=yes
DB_ADDR=localhost:5432
#DB_USER=postgres
DB_PASSWORD='pa$$w0rd'
#DB_NAME=postgres
INPUT_FILE=./data/names/surnames.jsonl # may be override by -i flag
NAME_TYPE=surname                      # may be override by -type flag
